:root{
    --dark-blue: #004f92;
    --light-blue: #bbd2ec;
    --beige: #d5c0b3;
}
.login-basics{
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    height: 100vh;
}
.login-container{
    background-color: var(--dark-blue);
    color: white;
    width: 45%;
    height:100%;
    text-align: center;
    align-content: center;
    border-radius: 20px;
}
.login-container h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-style: normal;
    font-size: xx-large;
    font-weight: bold;
    margin: 5%;
}
.login-form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    width: auto;
    height: auto;
    align-items: center;
    align-content: center;
}
.login-form label{
    color: white;
    text-align: center;
    font-family: inherit;
    font-size: large;
}
.login-form input{
    background-color: var(--light-blue);
    color: black;
    border: none;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    width: 90%;
    
}
.login-form a{
    background-color: var(--beige);
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    padding: 2%;
    margin: 3%;
    width: 90%;
}