:root{
    --dark-blue: #004f92;
    --light-blue: #bbd2ec;
    --beige: #d5c0b3;
}
.register-basics {
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    height: 98vh;
}
.register-container {
    background-color: var(--dark-blue);
    color: white;
    width: 45%;
    height: 100%;
    text-align: center;
    border-radius: 20px;

}
.register-container h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-style: normal;
    font-size: xx-large;
    font-weight: bold;
    margin: 5%;
}
.register-form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    align-content: center;
}

.register-form label{
    color: white;
    text-align: center;
    font-size: large;
}
.register-form input{
    background-color: var(--light-blue);
    border: none;
    color: black;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    width: 90%;
}
.register-form a {
    background-color: var(--beige);
    text-align: center;
    color: black;
    border-radius: 15px;
    padding: 2%;
    margin: 3%;
    width: 90%;
}