:root{
    --dark-blue: #004f92;
    --light-blue: #bbd2ec;
    --beige: #d5c0b3;
}
.welcome-basics {
    background-color: var(--beige);
    display: flex;
    justify-content: center;
}
.h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-style: normal;
    font-size: xx-large;
    font-weight: bold;
    margin: 5%;
}
.h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 3%;
}
.h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 3%;
}
.heading-container{
    background-color: var(--dark-blue);
    color: white;
    width: 45%;
    height:100%;
    text-align: center;
    align-content: center;
}
.redirecting-buttons-container {
    display: grid;
    width: auto;
    height: auto;
}
.welcome-button {
    background-color: var(--beige);
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    padding: 2%;
    margin: 3%;
    width: 90%;
}
