.row {
    display: flex;
    height: 100vh;
}

.stats {
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stats canvas {
    width: 45rem;
    height: 45rem;
    border: 1px solid #000000;
    box-shadow: 0.3rem 0.8rem 2.4rem rgba(0, 0, 0, 0.256);
}

.background {
    max-width: 50rem;
    background: #0476d0;
    border-radius: 2.5rem;
    padding: 2rem;
    box-shadow: 0.3rem 0.8rem 2.4rem rgba(0, 0, 0, 0.256);
}

.background p {
    color: white;
    font-weight: 500;
    font-style: italic;
}

.background span {
    font-weight: 600;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}