<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/customStatistics.css">
    <title>Custom Statistic</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="#">
                    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="250.864" height="158.049" viewBox="0 0 231.864 158.049">
                        <g id="logo" transform="translate(-843.323 -319.951)">
                            <g id="undraw_metrics_re_6g90_1_" data-name="undraw_metrics_re_6g90(1)" transform="translate(348 146.001)">
                                <path id="Path_33" data-name="Path 33" d="M936.9,464.929H706.476a.721.721,0,0,1-.721-.721V353.767a.721.721,0,0,1,1.442,0v109.72H936.9a.721.721,0,1,1,0,1.442Z" transform="translate(-210.433 -174.88)" fill="#fff"/>
                                <path id="Path_34" data-name="Path 34" d="M755.707,457H734.75a2.143,2.143,0,0,1-2.141-2.14V425.966a2.143,2.143,0,0,1,2.141-2.14h20.958a2.143,2.143,0,0,1,2.141,2.14v28.89A2.143,2.143,0,0,1,755.707,457Z" transform="translate(-210.433 -174.88)" fill="#ff0"/>
                                <path id="Path_35" data-name="Path 35" d="M793.926,457H772.969a2.143,2.143,0,0,1-2.141-2.14V398.564a2.143,2.143,0,0,1,2.141-2.14h20.958a2.143,2.143,0,0,1,2.141,2.14v56.293A2.143,2.143,0,0,1,793.926,457Z" transform="translate(-210.433 -174.88)" fill="#ff0"/>
                                <path id="Path_36" data-name="Path 36" d="M832.145,457H811.188a2.143,2.143,0,0,1-2.141-2.14V425.966a2.143,2.143,0,0,1,2.141-2.14h20.957a2.143,2.143,0,0,1,2.141,2.14v28.89A2.143,2.143,0,0,1,832.145,457Z" transform="translate(-210.433 -174.88)" fill="#ff0"/>
                                <path id="Path_37" data-name="Path 37" d="M870.365,457H849.407a2.1,2.1,0,0,1-2.141-2.043v-67.3a2.1,2.1,0,0,1,2.141-2.043h20.958a2.1,2.1,0,0,1,2.141,2.044v67.3A2.1,2.1,0,0,1,870.365,457Z" transform="translate(-210.433 -174.88)" fill="#ff0"/>
                                <path id="Path_38" data-name="Path 38" d="M908.584,457H887.626a2.143,2.143,0,0,1-2.141-2.14v-86.58a2.143,2.143,0,0,1,2.141-2.14h20.958a2.143,2.143,0,0,1,2.141,2.14v86.58a2.143,2.143,0,0,1-2.14,2.141Z" transform="translate(-210.433 -174.88)" fill="#ff0"/>
                                <circle id="Ellipse_13" data-name="Ellipse 13" cx="4.327" cy="4.327" r="4.327" transform="translate(530.469 231.639)" fill="#fff"/>
                                <circle id="Ellipse_14" data-name="Ellipse 14" cx="4.327" cy="4.327" r="4.327" transform="translate(568.688 203.516)" fill="#fff"/>
                                <circle id="Ellipse_15" data-name="Ellipse 15" cx="4.327" cy="4.327" r="4.327" transform="translate(606.907 231.639)" fill="#fff"/>
                                <circle id="Ellipse_16" data-name="Ellipse 16" cx="4.327" cy="4.327" r="4.327" transform="translate(645.126 189.814)" fill="#fff"/>
                                <circle id="Ellipse_17" data-name="Ellipse 17" cx="4.327" cy="4.327" r="4.327" transform="translate(683.345 173.95)" fill="#fff"/>
                                <path id="Path_39" data-name="Path 39" d="M611.325,236.935l-38.31-28.694-37.787,28.3-.865-1.154,38.652-28.951L611.143,235l37.888-41.463.153-.062,38.219-15.4.539,1.338-38.067,15.338Z" fill="#fff"/>
                            </g>
                            <text id="Smart_Money" data-name="Smart Money" transform="translate(846 470)" fill="#fff" font-size="36" font-family="Raleway" font-weight="600"><tspan x="0" y="0">Smart Money</tspan></text>
                        </g>
                    </svg>
                </a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a th:href="@{/home}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/statistics}" class="nav-link">My Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/filterStatistics}" class="nav-link">Filter Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/logout}" class="nav-link">Log out</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="left-home">
                        <div class="statistics">
                            <h1>Looking for something specific?</h1>
                            <h3>Filter your expenses list:</h3>
                            <div class="filter-bg">
                                <div th:unless="${filter.startPeriod == null} and ${filter.endPeriod == null}">
                                    <div th:if="${#fields.hasErrors('filter')}"
                                         th:errors = "*{filter}"
                                         class="error">
                                    </div>
                                    <br>
                                </div>
                                <form th:object="${filter}" method="post" th:action="@{/filterStatistics}">
                                    <input type="hidden" th:value="${user.id}" name="userId"/>
                                    <label>Choose category:</label> <br>
                                    <select name="categoryId" id="categoryId">
                                        <option th:value="null" selected>All categories</option>
                                        <tr th:each="category: ${categories}">
                                            <option th:text="${category.name}" th:value="${category.id}"></option>
                                        </tr>
                                    </select>
                                    <br> <br>
                                    <label>Choose start date:</label> <br>
                                    <input type="date"
                                           class="mb-3 my-input"
                                           id="start-date"
                                           th:field="*{startPeriod}"> <br>
                                    <div th:if="${#fields.hasErrors('startPeriod')}"
                                         th:errors = "*{startPeriod}"
                                         class="error">
                                    </div>
                                    <br>
                                    <label>Choose end date:</label> <br>
                                    <input type="date"
                                           class="mb-3 my-input"
                                           id="end-date"
                                           th:field="*{endPeriod}"> <br>
                                    <div th:if="${#fields.hasErrors('endPeriod')}" th:errors = "*{endPeriod}" class="error"></div>
                                    <br>
                                    <button class="button">Apply</button>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="right-home">
                        <div class="right-custom-statistic">
                            <div th:if="${customExp == null}">
                                <h3>Please select a filter to apply.</h3>
                                <div class="right-custom-statistic-message">
                                    <span>Here will be displayed the results from your search.</span>
                                </div>
                            </div>
                            <div th:if="${customExp}">
                                <div th:unless="${customExp.size()>0}">
                                    <h3>No expenses match your search!</h3>
                                    <div class="right-custom-statistic-message">
                                        <span>We couldn't find any expenses matching your search.</span>
                                    </div>
                                 </div>
                            </div>
                            <div th:if="${customExp} and ${customExp.size() > 0}">
                                <h3>Results, matching your search:</h3>
                                <div class="right-custom-statistic-list">
                                    <ul>
                                        <li th:each="exp : ${customExp}">
                                            <span th:text="${exp.startDate}" class="date"></span>
                                            <span th:text="${exp.name}" class="name"></span>
                                            <span th:text="${#numbers.formatDecimal(exp.amount, 0, 'COMMA', 2, 'POINT')}" class="amount"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>