<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form th:object="${newExpense}" th:action="@{/home}" method="post">
    <input type="hidden" th:value="${user.id}" name="userId"/>
    <label>Add new expense:</label>
    <select name="categoryId" th:field="*{categoryId}" class="mb-3" id="categoryId">
        <tr th:each="category: ${categories}">
            <option th:text="${category.name}" th:value="${category.id}"></option>
        </tr>
    </select> <br>
    <input type="text" th:field="*{name}" id="name" name="name" placeholder="Enter new expense name:">
    <input type="text" th:field="*{amount}" id="amount" name="amount" placeholder="Enter new expense amount:">
    <button>ADD</button>
</form>
</body>
</html>
