<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My statistics</title>
</head>
<body>
<h3>Expenses in the last Week</h3>
<table>
  <thead>
    <tr>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    <tr th:each="exp : ${weekExp}">
        <td th:text="${exp.key}"/>
        <td th:text="${exp.value}"/>
    </tr>
  </thead>
</table>
<h3>Expenses in the last Month</h3>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    <tr th:each="exp : ${monthExp}">
        <td th:text="${exp.key}"/>
        <td th:text="${exp.value}"/>
    </tr>
    </thead>
</table>

</body>
</html>